:root{
    --clr-header : hsl(217, 19%, 35%);
    --clr-username : hsl(217, 19%, 35%);
    --clr-intro : hsl(214, 17%, 51%);
    --clr-date : hsl(212, 23%, 69%);
    --clr-background : hsl(210, 46%, 95%);

}
  